---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <div class="grid md:grid-cols-2 p-8 elementmedanimation1">
    <div class="">
      <h1
        class="font-bold text-[#183D2E] md:text-8xl text-[36px] md:pt-16 pt-8"
      >
        Digital Oprydnings <br /> Dag
      </h1>
      <h3
        class="font-thin text-[#183D2E] md:text-[41px] text-[24px] md:pb-8 pb-0"
      >
        D. 15 marts
      </h3>
    </div>
    <div class="hidden md:inline-block flex justify-center pt-8">
      <img src="bin.svg" alt="bin" />
    </div>
  </div>

  <div class="flex flex-col md:flex-row md:gap-8 gap-0 pl-8 pb-8">
    <div class="button2">
      <Button
        >Del med en ven <img
          class="hidden md:inline-block"
          src="users.svg"
          alt="ven icon"
        /></Button
      >
    </div>

    <div class="button1">
      <Button
        >Sæt i min kalender <img
          class="hidden md:inline-block"
          src="kalendar.svg"
          alt="kalendar icon"
        /></Button
      >
    </div>
  </div>

  <div class="grid md:grid-cols-2 p-16 gap-8 bg-[#A7C9AE] elementmedanimation2">
    <div>
      <img class="hidden md:inline-block w-full" src="shrug.svg" alt="shrug" />
    </div>
    <div>
      <h2>
        <span class="font-thin md:text-[64px] text-[32px] text-[#183D2E]"
          >Hvad er <br /></span
        >
        <span
          class="font-extrabold md:text-[64px] text-[32px] pb-8 text-[#183D2E]"
          >Digital Oprydnings Dag?</span
        >
      </h2>
      <p class="md:text-[24px] text-[16px] pt-4 font-regular text-[#183D2E]">
        Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale
        liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.
      </p>
      <p class="md:text-[24px] text-[16px] py-8 font-regular text-[#183D2E]">
        Nu i sit femte år og organiseret af Let's Do It World har Digital
        Cleanup Day til formål at øge bevidstheden om digital forurening og
        opfordre både enkeltpersoner og virksomheder til at rydde op og
        omstrukturere deres online tilstedeværelse.
      </p>
    </div>
  </div>

  <div class="flex justify-center pt-24 pb-8">
    <h2>
      <span class="font-thin md:text-[64px] text-[32px] text-[#183D2E]"
        >Sådan ryder du op i dit
      </span>
      <span
        class="font-extrabold md:text-[64px] text-[32px] pb-8 text-[#183D2E]"
        >Digitale Skrald?</span
      >
    </h2>
  </div>

  <div class="p-16 grid md:grid-cols-3 gap-16">
    <div class="flex flex-col flex-wrap items-center cardanimation1">
      <h4 class="py-8 font-bold md:text-[32px] text-[24px] text-[#183D2E]">
        Gamle Mails
      </h4>
      <p class="pb-8 font-regular md:text-[24px] text-[20px] text-[#183D2E]">
        Slet gamle e-mails og undlad at sende "OK"- og "Tak"-e-mails. Gem de
        mere vigtige e-mails i et cloud space, så du ikke optager plads på alle
        enheder med din e-mail tilsluttet. Husk at du kan arkivere mails også!
      </p>
      <img src="gamlemails.svg" alt="gamle mais" />
    </div>
    <div>
      <div class="flex flex-col flex-wrap items-center cardanimation2">
        <h4 class="py-8 font-bold md:text-[32px] text-[24px] text-[#183D2E]">
          Billeder
        </h4>
        <p class="pb-8 font-regular md:text-[24px] text-[20px] text-[#183D2E]">
          Fjern gamle rodbilleder, og flyt de gode minder til dit cloud for at
          komme tilbage og se senere. Slet dublerede billeder og unødvendige
          engangsbilleder. Slørede billeder og gamle videoer kan også slettes.
        </p>
        <img src="billeder.svg" alt="billeder" />
      </div>
    </div>
    <div>
      <div class="flex flex-col flex-wrap items-center cardanimation3">
        <h4 class="py-8 font-bold md:text-[32px] text-[24px] text-[#183D2E]">
          Dokumenter i Skyen
        </h4>
        <p class="pb-8 font-regular md:text-[24px] text-[20px] text-[#183D2E]">
          Sorter din personlige computer og slet filer, der er dubletter eller
          er blevet ubrugelige. Gå gennem alle dine billeder, slet dubletter og
          slørede. Tjek videofilerne og slet sete eller unødvendige. Arkiver de
          vigtige filer.
        </p>
        <img src="cloud.svg" alt="cloud" />
      </div>
    </div>
  </div>
  <section class="grid md:grid-cols-2">
    <div class="bg-[#A7C9AE] p-8">
      <h2 class="font-extrabold text-4xl md:text-[64px] pb-8 text-[#183D2E]">
        Facts
      </h2>

      <div class="flex justify-between items-center pb-6">
        <div class="max-w-[75%]">
          <p class="font-regular text-lg md:text-2xl text-[#183D2E]">
            Hjælper med at reducere CO₂-udledning
          </p>
        </div>
        <img src="co2.svg" alt="CO2 udslip" class="w-16 h-16 md:w-24 md:h-24" />
      </div>

      <div class="flex justify-between items-center pb-6">
        <div class="max-w-[75%]">
          <p class="font-regular text-lg md:text-2xl text-[#183D2E]">
            Forlænger dine enheders levetid
          </p>
        </div>
        <img
          src="levetid.svg"
          alt="Telefon"
          class="w-16 h-16 md:w-24 md:h-24"
        />
      </div>

      <div class="flex justify-between items-center pb-6">
        <div class="max-w-[75%]">
          <p class="font-regular text-lg md:text-2xl text-[#183D2E]">
            Fremskynder og forenkler deling og søgning af information
          </p>
        </div>
        <img
          src="deling.svg"
          alt="Venner der deler"
          class="w-16 h-16 md:w-24 md:h-24"
        />
      </div>

      <div class="flex justify-between items-center pb-6">
        <div class="max-w-[75%]">
          <p class="font-regular text-lg md:text-2xl text-[#183D2E]">
            Reducerer sikkerhedsrisici ved datalagring
          </p>
        </div>
        <img src="sikkerhed.svg" alt="Lås" class="w-16 h-16 md:w-24 md:h-24" />
      </div>
    </div>
    <div class="relative w-full h-full">
      <img
        src="mobil.webp"
        alt="mobiler i hånden"
        class="w-full h-full object-cover filter grayscale"
      />
      <div class="absolute inset-0 bg-emerald-900 opacity-50"></div>
    </div>
  </section>
  <section class="py-16 flex justify-center">
    <div class="max-w-2xl text-center px-6">
      <h2 class="font-extrabold text-4xl md:text-[64px] pb-8 text-[#183D2E]">
        Registrer dit bidrag
      </h2>
      <p class="font-regular text-lg md:text-2xl text-[#183D2E] pb-6">
        Ved at registrere dit bidrag til Digital Cleanup Day bliver du en del af
        en global bevægelse, der reducerer CO₂-udledning, frigør unødvendig
        digital plads og forbedrer cybersikkerheden. Digitale data kræver
        energi, og ved at slette gamle filer, mails og apps kan vi sammen
        mindske vores klimaaftryk. Hver handling tæller – vær med til at skabe
        en mere bæredygtig digital fremtid!
      </p>
      <a
        href="/forms"
        class="inline-block p-3 text-xl font-bold text-amber-50 border-solid border-2 border-[#6AA28B] rounded-[20px] bg-[#6AA28B] hover:text-[#6AA28B] hover:bg-[#fbfaf5] hover:border-2 duration-500"
      >
        Registrer bidrag
      </a>
    </div>
  </section>
</MainLayout>

<script>
  import { inView } from "motion";

  const elementmedanimation1 = document.querySelector(".elementmedanimation1");

  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-1s"
    );
  });

  const elementmedanimation2 = document.querySelector(".elementmedanimation2");

  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add(
      "animate__animated",
      "animate__fadeInUp",
      "animate__delay-0.5s"
    );
  });

  const button1 = document.querySelector(".button1");

  inView(button1, () => {
    button1.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-0.5s"
    );
  });

  const button2 = document.querySelector(".button2");

  inView(button2, () => {
    button2.classList.add(
      "animate__animated",
      "animate__fadeInLeft",
      "animate__delay-0.7s"
    );
  });

  const cardanimation1 = document.querySelector(".cardanimation1");

  inView(cardanimation1, () => {
    cardanimation1.classList.add(
      "animate__animated",
      "animate__fadeInUpBig",
      "animate__delay-0.5s"
    );
  });

  const cardanimation2 = document.querySelector(".cardanimation2");

  inView(cardanimation2, () => {
    cardanimation2.classList.add(
      "animate__animated",
      "animate__fadeInUpBig",
      "animate__delay-1s"
    );
  });

  const cardanimation3 = document.querySelector(".cardanimation3");

  inView(cardanimation3, () => {
    cardanimation3.classList.add(
      "animate__animated",
      "animate__fadeInUpBig",
      "animate__delay-2s"
    );
  });
</script>
