---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<div class="grid grid-cols-2 p-8 elementmedanimation1">
		<div class="">
			<h1 class="font-bold text-[#183D2E] text-8xl pt-16">Digital Oprydnings <br> Dag</h1>
			<h3 class="font-thin text-[#183D2E] text-[41px] pb-8">D. 15 marts</h3>
		</div>
		<div class="flex justify-center pt-8">
			<img src="bin.svg" alt="bin">
		</div>
	</div>


	<div class="flex gap-8 p-8">
		<div class="button2">
			<Button>Del med en ven <img src="users.svg" alt="ven icon"></Button>
		</div>
	
		<div class="button1">
			<Button>Sæt i min kalender <img src="kalendar.svg" alt="kalendar icon"></Button>
		</div>
	</div>
	

	<div class="grid grid-cols-2 p-16 gap-8 bg-[#A7C9AE] elementmedanimation2">
		<div>
			<img class="w-full" src="shrug.svg" alt="shrug">
		</div>
		<div>
			<h2><span class="font-thin text-[64px]">Hvad er <br></span> <span class="font-extrabold text-[64px] pb-8">Digital Oprydnings Dag?</span></h2>
			<p class="text-[24px] pt-4 font-regular">Digital Cleanup Day er en dag dedikeret til at rydde op i vores digitale liv, ligesom vi rydder op i vores fysiske miljø på World Cleanup Day.  </p>
			<p class="text-[24px] py-8 font-regular">Nu i sit femte år og organiseret af Let's Do It World har Digital Cleanup Day til formål at øge bevidstheden om digital forurening og opfordre både enkeltpersoner og virksomheder til at rydde op og omstrukturere deres online tilstedeværelse.</p>
		</div>
	</div>
</MainLayout>

<script>

	import { inView } from "motion";
	
	 
	
	const elementmedanimation1 = document.querySelector(".elementmedanimation1");
	
	inView(elementmedanimation1, () => {
	
	elementmedanimation1.classList.add("animate__animated", "animate__fadeInUp", "animate__delay-1s");
	
	}); 

	const elementmedanimation2 = document.querySelector(".elementmedanimation2");
	
	inView(elementmedanimation2, () => {
	
	elementmedanimation2.classList.add("animate__animated", "animate__fadeInUp", "animate__delay-0.5s");
	
	}); 
	
	const button1 = document.querySelector(".button1");
	
	inView(button1, () => {
	
	button1.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-0.5s");
	
	}); 

	const button2 = document.querySelector(".button2");
	
	inView(button2, () => {
	
	button2.classList.add("animate__animated", "animate__fadeInLeft", "animate__delay-0.7s");
	
	}); 
	</script>