---
---
<div>
    <button class="flex items-center p-2 md:my-16 my-1 md:gap-4 gap-0 md:border-6 border-4 border-[#6AA28B] rounded-[20px] font-semibold md:text-[30px] text-[14px] text-[#6AA28B]"><slot /></button>
</div>